.navigation-mobile, .title-mobile{
  display: none;
}

.title-mobile{
  font-family: "robotoCondensed", serif;
  font-optical-sizing: auto;
}

.navigation-desktop{
  flex-grow: 1;
}

.drawer-title{
  text-align: center;
  font-family: 'robotoCondensed';
  font-size: 2em;
  
  padding-top: 10px;
  padding-bottom: 5px;
}

.drawer-links{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

@media screen and (max-width: 480px){
  .navigation-mobile, .title-mobile{
    display: initial;
  }

  .title-desktop, .navigation-desktop, .separator-desktop{
    display: none;
  }
}