@import './quasar.variables.scss';

.navigation-mobile, .title-mobile{
  display: none;
}

.title-mobile{
  font-family: "robotoCondensed", serif;
  font-optical-sizing: auto;
}

.navigation-desktop{
  flex-grow: 1;
}

.drawer-title{
  text-align: center;
  font-family: 'robotoCondensed';
  font-size: 2em;
  
  padding-top: 10px;
}

.drawer-links{
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.show-user-name{
  display: none;
}

@media screen and (max-width: 480px){
  .navigation-mobile, .title-mobile{
    display: initial;
  }

  .title-desktop, .navigation-desktop, .separator-desktop{
    display: none;
  }

  .show-user-name{
    display: flex;
    color: white;
    background-color: $primary;
    padding-left: 10px;
    font-family: 'robotoCondensed';
    font-size: 1.3em;
    padding-bottom: 5px;
  }
}