// Check documentation for full list of Quasar variables
$primary   : #9D1B33;
$secondary : #FAF9F6;
$accent    : #CD5C5C;
$secondary_accent: #C0C0C0;

$dark      : #1D1D1D;
$dark-page : #121212;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;
